body
{
    color: palevioletred;
    text-align: center;
    font-size: 16px; 
    margin:0;
    padding: 0;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecera
{
    border: 3px solid blueviolet;
    background-color: blueviolet;
    padding-left: 4;
    margin: 8;
    text-align: left;
}

#cabecera h2
{
    font-size: 12px;
    color: beige;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
<<<<<<< HEAD
}

#cabecera #logo
{
    width: 40px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
=======
    text-align: justify;
}

#container #footer
{
    text-align: center;
    background-color: yellow;
>>>>>>> 4428c3db3b23119eb649e1869be9d10e269aebbf
}